<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="chocolatey" />
    <package id="powershell" />
    <package id="git" />
    <package id="cmder" />
    <package id="7zip.install" />
    <package id="fonts-ricty-diminished" />
    <package id="inconsolata" />
    
    <package id="linkshellextension" />
    <package id="qttabbar" />
    <package id="googlejapaneseinput" allowEmptyChecksums="true" />
    <package id="InkScape" />

    <!-- devtools -->
    <package id="golang" />
    <package id="au" />
    <package id="linqpad" allowEmptyChecksums="true" />

    <package id="x64dbg.portable" />
    <package id="ollydbg" />
    <package id="usamimi-hurricane" />
    <package id="ilspy" />
    <package id="fiddler4" />
    <package id="sysinternals" />
</packages>