<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="chocolatey" />
    <package id="chocolateygui" />
    <package id="powershell-core" />
    <package id="7zip.install "/>
    <package id="thunderbird" />
    <package id="google-backup-and-sync" />
    <package id="googlejapaneseinput" allowEmptyChecksums="true" />
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="flashplayerplugin" />
    <package id="keepass.install" />
    <package id="linkshellextension" ignoreChecksum="true" />
    <package id="qttabbar" />
    <package id="everything" />
    <package id="vlc" />
    <package id="skype" />
    <package id="gimp" />
    <package id="pdfxchangeeditor" />
    <package id="paint.net" allowEmptyChecksums="true" />
    <package id="InkScape" />
    <package id="cubepdf" />
    <package id="cubepdfutility" />
    <package id="fd" />
    <package id="peco" />
    <package id="ripgrep" />

    <!-- language -->
    <package id="jre8" allowEmptyChecksums="true" />
    <package id="golang" />

    <!-- devtools -->
    <package id="cmder" />
    <package id="vscode" />
    <package id="git" />
    <!-- <package id="docker" /> -->
    <!-- <package id="docker-for-windows" /> -->
    <package id="linqpad" allowEmptyChecksums="true" />
    <!-- <package id="androidstudio" /> -->
    <!-- <package id="heroku-cli" /> -->
    <package id="teraterm" />
    <package id="winscp" />
    <package id="jetbrainstoolbox" />
    <package id="winmerge-jp" />
    <package id="hub" />

    <!-- analyze tools -->
    <package id="favbinedit" />
    <package id="sysinternals" />
    <package id="usamimi-hurricane" />
    <package id="x64dbg.portable" />
    <package id="ollydbg" />
    <package id="ilspy" />
    <package id="fiddler" />
    <package id="wireshark" />

    <!-- choco -->
    <package id="checksum" />
    <package id="au" />

    <!-- fonts -->
    <package id="fonts-ricty-diminished" />
    <package id="inconsolata" />
</packages>