<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="chocolatey" />
    <package id="chocolateygui" />
    <package id="powershell" />
    <package id="7zip.install "/>
    <package id="autohotkey" />
    
    <package id="linkshellextension" />
    <package id="slack" />
    <package id="qttabbar" />
    <package id="everything" />

    <package id="googledrive" />
    <package id="googlejapaneseinput" allowEmptyChecksums="true" />

    <package id="googlechrome" />
    <package id="firefox" />
    <package id="flashplayerplugin" />

    <package id="keepass.install" />
    <package id="keepass-langfiles" />

    <package id="vlc" />
    <package id="skype" />
    <package id="gimp" />
<!--    <package id="foxitreader" />-->
    <package id="pdfxchangeeditor " />
    <package id="paint.net" allowEmptyChecksums="true" />
    <package id="InkScape" />
    <package id="wox" />

    <!-- devtools -->
    <package id="jre8" allowEmptyChecksums="true" />
    <package id="git" />
    <package id="sourcetree" />
    <!--<package id="virtualbox" />
    <package id="vmware-workstation-player" />
    <package id="vagrant" />-->
    <package id="docker" />
    <package id="ruby" />
    <package id="ruby2.devkit" />
    <package id="golang" />
    <package id="php" />
    <package id="composer" />
    <package id="anaconda3" />
    <package id="nodejs" />
    <package id="yarn" />
    <package id="linqpad" allowEmptyChecksums="true" />
    <package id="androidstudio" />
    <package id="heroku-cli" />
    <package id="sqlite" />
    <package id="x64dbg.portable" />
    <package id="ollydbg" />

    <!-- choco -->
    <package id="checksum" />
    <package id="au" />

    <package id="cmder" />
    <package id="teraterm" />
    <package id="winscp" />
    <package id="ilspy" />
    <package id="fiddler4" />
    <package id="wireshark" />
    <package id="sysinternals" />

    <package id="favbinedit" />
    <package id="visualstudiocode" />
    <package id="jetbrainstoolbox" />
    <package id="dotPeek" />
    <package id="winmerge-jp" />
    <package id="cmder" />

    <package id="fonts-ricty-diminished" />
    <package id="inconsolata" />

    <package id="cubepdf" />
    <package id="cubepdfutility" />
    <package id="usamimi-hurricane" />

    <!-- LaTeX -->
    <package id="pandoc" />
    <package id="pandoc-crossref" />
    <package id="sumatrapdf" />

</packages>